*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainDiv {
    width: 100%;
    max-width: 420px;
    border: 2px solid #377091;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 30px 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
input#list {
    width: 100%;
    max-width: 250px;
    border: 1px solid black;
    border-radius: 6px;
    height: 30px;
    padding: 15px;
}
i.fa.fa-plus {
    position: absolute;
    right: 84px;
    top: 22px;
}
i.fa.fa-edit {
    position: absolute;
    right: 84px;
    top: 22px;
}

.inputData{
    position: relative;
}    
.css-i4bv87-MuiSvgIcon-root {
    height: 2em !important;
    width: 10em !important;
}

.well {
    min-height: 20px;
    margin: 0 auto;
    background-color: #377091;
    border-radius: 5px;
    color: #fff;
}
.mt15{
    margin-top: 15px;
}
.mb15{
    margin-bottom: 15px;
}
i.fa.fa-file {
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
}
i.fa.fa-file:hover {
color: greenyellow;
}
i.fa.fa-trash-o {
    position: absolute;
    right: 38px;
    top: 12px;

}
i.fa.fa-trash-o:hover{
    color:red;
    cursor: pointer;
}
.fa-address-card{
    font-size:48px;
    color: #377091;
    }
.strike{
    text-decoration: line-through;
}
.relative{
    position: relative;
}
